@charset "UTF-8";

body{
  display: flex;
  margin: 20px;
}

.conteiner{
  display: flex;
}

.interface{
  background-color: #0043a9;
}

.conteiner-menu{
  display:inline-flex;
  margin-left: 600px;
}

.conteiner-menu li{
  padding: 20px;
  list-style-type: none;
  display: flex;
  align-content: space-between;
}

header#cabecalho {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(3, 141, 76);
    margin: 20px;
}